@import "./Page-components/navbar";
@import "./Page-components/featuredProjects";
@import "./Page-components/footer";

.main-container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  background-repeat: no-repeat;
  background-position: 0.390625em; 
  position: relative;
  @media only screen and (max-width: 48em) { 
   
  }
  
}

.cta-content-wrapper {
  padding: 1.875em 7.5em; 
  display: flex;
  flex-direction: column;
  margin-top: 1.875em; 
  @media only screen and (max-width: 48em) { 
    padding: 1.875em;
  }
}

.cta-content {
  align-self: flex-end;
  width: 1.875em; 
  display: flex;
  flex-direction: column;
  gap: 1.25em; 
  @media only screen and (max-width: 48em) { 
    align-self: auto;
    width: 100%;
  }
  h1 {
    font-size: 1.6em;
  }
  p {
    font-size: 1em;
    line-height: 172.5%;
  }
}

.cta-footer {
  padding: 1.875em 7.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 0.0625em solid #403f40; 
  border-left: 0;
  border-right: 0;
  margin-top: 4.375em; 
  bottom: 0;
  width: 100%;
  @media only screen and (max-width: 48em) { 
    margin-top: 3.125em; 
    padding: 0.9375em 1.875em; 
    justify-content: space-between;
  }
  p {
    font-size: 1em;
    @media only screen and (max-width: 48em) { 
      font-size: 0.8em;
    }
  }
}
