@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
@import "home";

body {
  background-color: $backgroundColor;
  color: $textColor;
  font-size: 16px;
}

h1 {
  color: $headingColor;
}
