@import "./ProjectCard";

.featured-section{
  position: relative;
  
}
.heading-wrapper {
  padding: 30px 120px;
  font-weight: medium;
  color: white;
  @media only screen and (max-width: 768px) {
    padding: 1em 2em;
  }
  h1 {
    font-size: 2em;
    @media only screen and (max-width: 768px) {
      font-size: 1.5em;
    }
  }
}

.project-card-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-content: center;
  justify-items: center;
  gap: 15px;
  @media only screen and (max-width: 768px) {
    grid-template-columns: auto;
  }
}
