.footer-heading-container {
  padding: 50px 120px;
  .footer-heading {
    font-size: 1.4em;
    max-width: 200px;
    font-style: italic;
    color: $headingColor;
  }
}

.footer-links-wrapper {
  display: flex;
  min-width: 100dvw;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding-bottom: 50px;
  .footer-link-group {
    display: flex;
    flex-direction: column;
    gap: 2em;
    .footer-link {
      display: block;
      font-size: 6.2em;
      font-weight: bold;
      color: $headingColor;
      line-height: 100%;
      text-decoration: underline;
    }
  }
}

.footer-attr {
  width: 100dvw;
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 1px solid #403f40;
  border-left: none;
  border-right: none;
  .footer-attr-text {
    font-size: 22px;
    a {
      font-style: italic;
      text-decoration: underline;
    }
  }
}
