.navbar {
  display: flex;
  padding: 30px 7.5em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  @media only screen and (max-width: 768px) {
    justify-content: center;
    position: sticky;
    padding: 1em 1.875em; 
    padding-top: 2.5em;
  }

  .logo {
    font-size: 1.2em;
    font-weight: medium;
    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
  .navlinks-wrapper {
    display: flex;
    flex-direction: row;
    gap: 50px; 
    @media only screen and (max-width: 768px) {
      gap: 40px;
    }
    .nav-link {
      font-size: 1em;
      @media only screen and (max-width: 768px) {
        color: white;
        font-size: 1.1em;
      }
    }
  }
}
