.project-card {
  display: flex;
  flex-direction: column;
  position: relative;
  img {
    display: block;
  }
  .project-heading-wrapper {
    padding: 30px 20px;
    font-weight: medium;
    color: white;

    h2 {
      font-size: 1.2em;
      font-weight: medium;
      @media only screen and (max-width: 768px) {
        font-size: 1em;
        // font-weight: bold;
      }
    }
  }
  .open-project {
    width: 100px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 100px;
    font-weight: bold;
    position: absolute;
    display: unset;
    // transition: transform 0.1s ease-in-out;
  }
  .hide-project {
    // transition: transform 1000s ease-out;
    display: none;
  }
}
